# Django
SECRET_KEY=change-this-to-a-long-random-string
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Database (PostgreSQL)
DB_NAME=hospital_db
DB_USER=hospital_user
DB_PASSWORD=hospital_pass
DB_HOST=localhost
DB_PORT=5432

# CORS
FRONTEND_URL=http://localhost:5173
